@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
body{
    font-family: 'Questrial', sans-serif;
}
a:hover {
    text-decoration: none;
}
.avatar {
    border-radius: 25px
}
.audio-control {
    margin: 5px
}
.btn-circle {  
    border-radius: 100%;
    margin: 25% 40% 25% 25%;
}

.btn-circle:hover{
    background-color: #007bff;
    color: orange;
}
.p-icon {
    margin-left: 10%;
    text-align: center;
}
.cover-photo {
    height: 100px
}
.song {
    margin: 10px 0 10px 0;
    padding: 5px 5px 5px 5px;
}